body {
  font-family: $primary-font;
  box-sizing: border-box;
  margin: 0px;
  background-color: $white;
}

header {
  background-color: $background-color;
  height: 67vh;
  background-image: url(../../images/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-width: $twokdesktop) {
    height: 52vh;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: $primary-font-weight-headline;
  font-size: 3.5rem;
  text-align: center;
  color: $white;
  /* font-size: 70px; */
  font-size: clamp(34px, 5vw, 70px);
  margin: 100px 0px 0px 0px;

  @media (min-width: $twokdesktop) {
    margin: 140px 0px 0px 0px;
  }
}

h2 {
  font-size: 3rem;
  font-weight: $primary-font-weight-heading;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
  color: $brand;
  font-weight: $primary-font-weight-headline;
}

h5 {
  font-size: 1rem;
  color: $brand;
}

p {
  font-weight: $primary-font-weight-regular;
  font-size: 1.3rem;
  line-height: 1.7;
}

.btn {
  padding: 15px 40px;
  width: 320px;
  border-radius: 25px;
  border: none;
  font-size: 18px;

  &:hover {
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    transition: box-shadow 0.5s;
    cursor: pointer;
  }
}

.bottom-page {
  margin-bottom: 100px;
}

footer {
  background-color: $not-quite-black;
}
