//Header intro stylings

.header-container {
  max-width: 750px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;

  & p {
    text-align: center;
    line-height: 1.9;
    color: $white;
    /* font-size: 1.2rem; */
    font-size: clamp(1.1rem, 5vw, 1.2rem);
  }

  &__buttons {
    text-align: center;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
      margin: 0px 10px;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        height: 21px;
        margin-right: 8px;
      }
    }
  }

  &__images img {
    position: absolute;
    bottom: 0px;
    width: 330px;

    @media (min-width: $desktop) {
      width: 555px;
    }

    @media (min-width: $twokdesktop) {
      width: 760px;
    }
  }
}

.headerImageLeft {
  left: 0px;
}

.headerImageRight {
  right: 0px;
}

.download-btn {
  background-color: $white;
  transition: color 0.2s;
  &:hover {
    color: $brand;
    transition: color 0.2s;
  }
}

.download-btn-blue {
  background-color: $brand;
  transition: color 0.2s;
  color: $white;
  &:hover {
    background-color: $brand-hover;
    transition: color 0.2s;
  }
}

.open-app-btn {
  background-color: $not-quite-black;
  color: $white;
  transition: background-color 0.2s;
  &:hover {
    background-color: #36393f;
    transition: background-color 0.2s;
  }
}

// Index content stylings

.home-content-background {
  background-color: #f6f6f6;
  text-align: center;
}

.home-content {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding: 130px;
  flex-direction: column;

  @media (min-width: 967px) {
    flex-direction: row;
  }

  &__reverse {
    flex-direction: row-reverse;
  }

  &__column-reverse {
    flex-direction: column-reverse;
    text-align: center;

    & h2 {
      color: $not-quite-black;
      text-transform: uppercase;
      font-weight: $primary-font-weight-headline;
    }

    & img {
      height: $mobile-heigth;
      width: 474px;
      margin: 0px auto;

      @media (min-width: 1320px) {
        width: auto;
      }
    }
  }

  &__texts {
    margin: 0px 34px;
    color: $not-quite-black;
  }

  & img {
    height: $mobile-heigth;

    @media (min-width: 1320px) {
      height: $desktop-height;
    }
  }
}

.start-journey-background {
  background-image: url(../../images/header-background-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5px;
}
