nav {
  display: grid;
  width: 100%;
  max-width: 1260px;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px;
  margin: 0px auto;

  & ul {
    list-style: none;
    padding: 0px;

    & li {
      margin-right: 20px;
    }
  }

  & a {
    color: $white;
    text-decoration: none;
    font-weight: $primary-font-weight-heading;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-brand,
.nav-links,
.nav-login {
  display: flex;
  align-items: center;
  grid-column: span 4;
}

.nav-login {
  flex-flow: row-reverse;
}

.nav-login a {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: $white;
  color: $not-quite-black;
  font-weight: $primary-font-weight-regular;
  transition: color, box-shadow 0.5s;

  &:hover {
    color: $brand;
    text-decoration: none;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    transition: color, box-shadow 0.5s;
  }
}
