// Font variables
$primary-font: "Roboto", sans-serif;
$primary-font-weight-regular: 400;
$primary-font-weight-heading: 500;
$primary-font-weight-headline: 900;

// Color variables
$background-color: #404eed;
$white: #fff;
$not-quite-black: #23272a;
$brand: #5865f2;
$brand-hover: #7983f5;

// Media queries
$twokdesktop: 2360px;
$desktop: 1920px;
